/*Wedding Colors*/
$marsala: #964F4C;
$canyonclay: #CE8477;
$rosequartz:#F7CAC9;
$silverfern:#BEAC7D;

/*Web Colors*/
$primary:$marsala;
$secondary:$canyonclay;
$blush:$rosequartz;
$accent:$silverfern;
